extends ../layout.jade
block contenido
	div(id="secciona" class="col-md-4")
		h1(class="fuentetitle texto grande3") Panel de administracion
		h2(class="mediano") Editar equipos
		form(method="POST" action="/equipos/#{equiposw.id}?_method=put" enctype="multipart/form-data" style="margin-top:1.5em;")
			div(class="form-group")
				label(for="Nombre") Nombre
				input(type="text" value="#{equiposw.title}" name="Nombre" placeholder="Nombre" class="form-control")
			div(class="form-group")
				label(for="Pitcher") Pitcher
				textarea(type="text" name="pitcher" placeholder="Pitcher" class="form-control")
					=equiposw.pitcher
			div(class="form-group")
				label(for="Clave") Contraseña
				input(type="password" name="Clave" placeholder="Contraseña" class="form-control")
			div(class="form-group")
				input(type="submit" class="btn btn-info col-md-4" id="btnEditar" value="Editar")